body {
    background-color: hsl(229, 57%, 11%);
    background-image: url(/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    width: 1440px;
    height: 700px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

h1 {
    font-size: 3em;
    font-family: Raleway;
    color: black;
    font-weight: 600;
}

span {
    font-weight: 700;
}

.main-container {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg-img {
    
    display: flex;
    align-items: flex-end;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    width: 100%;
    
}

/*---------box 1-----------*/

.box-1 {
    background-color: hsl(228, 56%, 26%);
    width: 350px;
    height: 185px;
    margin-right: 40px;
    border-radius: 15px;
    border-top-right-radius: 85px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.icon-img {
    margin-bottom: 35px;
    margin-left: 40px;
}

.logo-box {
    display: flex;
    margin-left: 40px;

}

.icon-row {
    background-color: hsl(229, 57%, 11%);
    height: 50px;
    width: 50px;
    border-radius: 8px;
    margin-right: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}


/*-------box 2-----------*/



.box-2 {
    background-color: hsl(228, 56%, 26%);
    width: 550px;
    height: 150px;
    border-radius: 15px;
}

.white-box {
    background-color: white;
    height: 65px;
    width: 175px;
    border-radius: 10px;
    border-bottom-right-radius: 0;

    position: relative;
    right: 220px;
    bottom: 130px;
}

.triangle {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid white;
    border-top: 12px solid white;
    border-bottom: 12px solid transparent;
    right: 374px;
    top: 321px;
}

.container-white {
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers {
    margin-right: 10px;

    
}

.grey {
    font-weight: 700;   
}

.container-white p {
    color: hsl(229, 7%, 55%); 
}

.box-2__content {
    padding: 20px 40px;
}

.dark-status-bar {
    background-color: hsl(229, 57%, 11%);
    height: 20px;
    width: 100%;
    border-radius: 10px;
   margin-top: 20px;

   display: flex;
}

.gradient-bar {
    background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    height: 14px;
    width: 75%;
    border-radius: 10px;
    margin-left: 3px;
    margin-top: 3px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.white-ball {
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 3px;
}

.gb {
    display: flex;
    justify-content: space-between;
}








/*----
### Neutral

- Pale Blue: hsl(243, 100%, 93%)
- Grayish Blue: hsl(229, 7%, 55%)
- Dark Blue: hsl(228, 56%, 26%)
- Very Dark Blue: hsl(229, 57%, 11%)

## Typography

### Body Copy

- Font size: 14px

### Font

- Family: [Raleway](https://fonts.google.com/specimen/Raleway)
- Weights: 400, 700
---*/